@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos ao Moviefy!</h1>
    <p>A sua plataforma de filmes feita inteiramente com ASP.NET Core MVC! Saiba mais no link: <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
